@import "colors.css";
@import "fonts.css";
@import "numbers.css";

a {
    text-decoration: none;
}

* {
    margin: 0;
    color: var(--font-main-color);
    font-size: var(--font-main-size);
    font-family: Roboto, sans-serif;
}

html, body, #root, main {
    height: 100%;
    margin: 0;
    padding: 0;
}
