@import "colors.css";
@import "fonts.css";
@import "numbers.css";

a {
    text-decoration: none;
}

* {
    margin: 0;
    color: var(--font-main-color);
    font-size: var(--font-main-size);
    font-family: Roboto, sans-serif;
}

input[type=text] {
    border: 0;
    background-color: var(--background-semi-color);
    border-radius: var(--border-radius-main);
    outline: 0;
    padding: 10px;
}

input[type=text]::placeholder {
    color: var(--font-placeholder-color);
}

main {
    width: 100vw;
    min-height: calc(100vh - 40px);
}