.createRecipePage__wrapper {
    height: calc(100% - 40px);
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    box-sizing: border-box;
    overflow-y: scroll;
}

.page__label {
    text-align: center;
    font-weight: var(--font-accent-weight);
}

.main__info__wrapper {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-grow: 1;
}

.flex__wrapper {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    flex-wrap: wrap;
}

.equ__ing__wrapper {
    max-width: 400px;
    flex-grow: 1;
}

.recipe__info__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}