.ingredients__wrapper {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.item__wrapper {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-semi-color);
    box-sizing: border-box;
    padding: 10px;
    border-radius: var(--border-radius-main);
    outline: none;
    border: 0;
    cursor: pointer;
    user-select: none;
}

.item__wrapper:hover {
    background-color: var(--background-semi-hover-color);
}


.list__wrapper {
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.bottom__wrapper {
    display: flex;
    flex-direction: row;
    gap: 4px;
}

.open__menu__button, .close__menu__button {
    display: block;
    width: 40px;
    height: 40px;
    background-color: var(--color-accent-main);
    outline: none;
    border: 0;
    border-radius: var(--border-radius-main);
    cursor: pointer;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
}

.open__menu__button::before, .open__menu__button::after,
.close__menu__button::before, .close__menu__button::after
{
    position: absolute;
    display: block;
    content: '';
    background-color: white;
    width: 2px;
    height: 16px;
    border-radius: var(--border-radius-main);
    transition: 0.1s;
}

.open__menu__button::before {
    top: 12px;
    left: 19px;
}

.open__menu__button::after {
    top: 12px;
    left: 19px;
    transform: rotate(90deg);
}

.close__menu__button::before {
    top: 12px;
    left: 19px;
    transform: rotate(-45deg);
}

.close__menu__button::after {
    top: 12px;
    left: 19px;
    transform: rotate(45deg);
}

.calorie__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
    background-color: var(--background-semi-color);
    border-radius: var(--border-radius-main);
    width: 100%;
}

.menu__wrapper {
    border-radius: var(--border-radius-main);
    overflow: hidden;
}

.add__button {
    outline: none;
    border: 0;
    width: 100%;
    cursor: pointer;
}

.add__button:hover {
    background-color: var(--background-semi-hover-color);
}